<%= form_for(@friend) do |f| %>
  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% @friend.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :request_sender_id %><br />
    <%= f.number_field :request_sender_id %>
  </div>
  <div class="field">
    <%= f.label :request_receiver_id %><br />
    <%= f.number_field :request_receiver_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
