<h3 class="selected_name">{{name}}</h3>
<h3>Hotels</h3>
<table>
  {{#each hotel in hotels itemController="hotel"}}
    {{partial "hotel_detail"}}
  {{/each}}
  <tr>
    <td>Total</td>
    <td>{{totalHotelNights}}</td>
    <td></td>
    <td>{{totalHotelRevenue}}</td>
  </tr>
</table>
{{outlet}}
<h3>Extras</h3>
<table>
  {{#each extra in extras}}
    {{partial "extra_detail"}}
  {{/each}}
  <tr>
    <td>Total</td>
    <td>{{totalExtrasOrdered}}</td>
    <td></td>
    <td>{{totalExtraRevenue}}</td>
  </tr>
</table>
