<h2>Trips</h2>

<div class="admin_trips span-11">
  {{#each trip in controller}}
    <div class="trip">
      <div class="header">
        {{#linkTo "trip" trip}}
          <span class="name">{{trip.name}}</span>
        {{/linkTo}}
        {{trip.totalRevenueDisplay}}
      </div>
      <div class="dates">{{trip.startDateDisplay}} - {{trip.endDateDisplay}}</div>
      <div class="price">{{trip.priceDisplay}}</div>
    </div>
  {{/each}}
</div>
<div class="detail_view span-11">
  <h2>Details</h2>
  {{outlet}}
</div>

