<!DOCTYPE html>
<html>
<head>
  <title>Time Travel Adventures</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container"><%= yield %></div>
</body>
</html>
